:root {
  --page-inline-padding: 1.5rem;
}

body {
  font-family: system-ui, sans-serif;
}

header, main {
  padding-inline: var(--page-inline-padding);
}

header {
  padding-block: 1rem;
}

pre {
  background: #f4f4f4;
  padding: 1rem;
  max-height: 400px;
  overflow: auto;
}

.subhead5 {
  margin_bottom: 0.5rem;
  font-style: italic;
  font-size: small;
}

.nav-pills-sm .nav-link {
  padding: 0.25rem 0.5rem;   /* default is ~0.5rem 1rem */
  font-size: 0.875rem;      /* same size Bootstrap uses for .btn-sm */
  line-height: 1.2;
}

.nav-item .nav-link {
  border: gainsboro 1px solid;
}
.edop-subtitle {
  font-size: 1rem;
  white-space: nowrap;
  padding: 2px;
}