:root {
  --page-inline-padding: 1.5rem;
}

body {
  font-family: system-ui, sans-serif;
}

header, main {
  padding-inline: var(--page-inline-padding);
}

header {
  padding-block: 1rem;
}

pre {
  background: #f4f4f4;
  padding: 1rem;
  max-height: 400px;
  overflow: auto;
}

.subhead5 {
  margin_bottom: 0.5rem;
}